* {
    margin: 0;
    padding: 0;
}

body,
html {
    min-height: 100vh;
    min-width: auto;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

header,
.sub-header,
footer {
    display: flex;
    background-color: #1F2937;
    color: white
}

header,
.sub-header {
    padding-top: 10px;
    padding-bottom: 75px;
    padding-left: 8%;
    padding-right: 8%;
    justify-content: space-between;
    align-items: flex-end;

}

.links {
    display: flex;
    gap: 32px;
    list-style: none;
}

.links a {
    text-decoration: none;
    color: inherit;
}

.sub-header section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    max-width: 435px;
}

.sub-header h1 {
    font-size: 48px;
    font-weight: 900;
}

.sub-header img {
    max-width: 400px;
    max-height: auto;
}

button {
    padding: 7px 30px;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    cursor: pointer
}


main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    margin-top: 3%;
}

main .content {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
    flex: auto;
    color:#1F2937;
    gap: 25px;
}

.content ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.content li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.image-list img {
    width: 125px;
    height: auto;
    height: 125px;
    border: 6px solid #3882F6;
    padding: 6px;
    border-radius: 12px;
}

.image-list p {
    font-size: 18px;
    max-width: 225px;
    color: #1F2937;
    text-align: center;
}

main .quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 6% 10%;
    background-color: #E5E7EB;
    flex: auto;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
    padding: 0;
    margin: 0;
    max-width: 1000px;
}
.quote h6 {
    font-size: 18px;
    padding: 0;
    margin: 0;
    align-self: flex-end;
}

main .action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: stretch;
    flex: auto;
    gap: 200px;
    padding-bottom: 3.5%;
    padding-top: 3.5%;
    margin-bottom: 48px;
    margin-left: 15%;
    margin-right: 15%;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: auto;
    flex: none;
}

li,
.sub-header p,
h7
 {
   font-size: 18px;
   color: #E5E7EB 
}


.action,
button {
    color: white;
    background-color: #3882F6;
}


.action button {
    border: 2px solid white;
}